@media print  {
.ui-tabs-nav {
display:none;
}
}

@media projection,screen  {
.ui-tabs-hide {
display:none;
}
}

* {
margin:0;
padding:0;
}

body,html {
font-family:"DejaVu Sans", Arial, Helvetica, sans-serif;
font-weight:400;
font-size:12px;
color:#454545;
line-height:18px;
}

ul {
list-style-type:disc;
margin:0;
padding:0 0 0 20px;
}

li {
line-height:18px;
margin:0;
padding:0;
}

ol {
list-style-type:decimal;
margin:0;
padding:0 0 0 20px;
}

form {
display:block;
}

p,pre,blockquote,ul,ol,dl,address {
font-weight:400;
}

pre,blockquote,ul,ol,dl,address {
margin:0;
}

p {
padding-bottom:12px;
font-size:12px;
color:#454545;
line-height:18px;
margin:0;
}

xmp {
padding:15px;
}

cite,em,dfn {
font-style:italic;
}

sup {
position:relative;
bottom:0.3em;
vertical-align:super;
}

sub {
position:relative;
bottom:-0.2em;
vertical-align:sub;
}

li,dd,blockquote {
margin-left:1em;
}

code,kbd,samp,pre,tt,var,textarea {
font-family:"DejaVu Sans", Arial, Helvetica, sans-serif;
}

del {
text-decoration:line-through;
}

ins,dfn {
border-bottom:1px solid #ccc;
}

abbr,acronym {
text-transform:uppercase;
letter-spacing:.1em;
border-bottom-style:dotted;
border-bottom-width:1px;
}

h1 {
font-size:16px;
font-weight:700;
color:#fff;
margin:0;
padding:12px 0 0 80px;
}

h2 {
font-size:16px;
font-weight:700;
color:#333;
margin:0;
padding:0 0 18px;
}

h3 {
font-size:16px;
font-weight:700;
color:#333;
border-bottom:1px solid #E5E5E5;
margin:0 0 20px;
padding:0 0 5px;
}

h4 {
font-size:13px;
font-weight:700;
color:#333;
margin:0 0 9px;
}

h1.optional {
font-size:18px;
font-weight:700;
color:#333;
text-transform:none;
margin:0;
padding:14px 0 18px;
}

h1 i {
font-size:12px;
font-weight:400;
color:#fff;
text-transform:none;
}

a,a:link {
text-decoration:underline;
color:#209498;
}

a:hover {
text-decoration:none;
color:#2ab2b7;
}

a:visited {
text-decoration:underline;
color:#387476;
}

label,button {
cursor:pointer;
}

a abbr,a acronym,fieldset {
border:none;
}

a img,img {
border:none;
text-decoration:none;
}

#grid_center {
width:950px;
margin:0 auto;
}

#grid_header {
background:url(../images/top_bg.png) repeat-x left top;
width:100%;
margin:0 auto;
}

#top {
height:95px;
width:950px;
margin:0 auto;
}

#logo {
float:left;
padding:40px 0 0;
font-size:45px;
color: #FFF;
}

#logo h1 {
color:#FFF;
float:left;
font-size:13px;
letter-spacing:-1px;
margin-left:-80px;
margin-top:8px;
text-shadow:1px 1px 1px #777;
text-transform:none;
width:960px;
}

#logo h1 .fale {
background:url(../images/portelefone.png) no-repeat left;
color:#FFF;
float:right;
font-size:14px;
font-weight:700;
margin-top:4px;
padding-left:18px;
padding-right:15px;
text-align:right;
text-shadow:1px 1px 1px #777;
}

#logo h1 .fale a,#logo h1 .fale a:visited {
text-decoration:underline;
color:#FFF;
}

#logo h1 .fale a:hover {
text-decoration:none;
}

#shadow {
background:url(../images/shadow.png) no-repeat center top;
float:left;
height:40px;
width:950px;
}

#grid_content {
background-color:#fff;
width:950px;
margin:0 auto;
padding:0;
}

#grid_content_home {
background-color:#fff;
width:950px;
margin:-40px auto;
padding:0;
}

#column_left {
float:left;
padding-right:25px;
width:225px;
}

#column_left h1 {
color:#333;
font-size:14px;
letter-spacing:-1px;
text-transform:none;
margin:0;
padding:0 0 8px;
}

.special {
margin-bottom:12px;
}

.single {
float:left;
width:100%;
}

.left {
float:left;
width:425px;
}

#column_left h2,.special h2,.block_home h2,#column_mid h2 {
border-bottom:2px solid #DDD;
clear:both;
font-size:14px;
font-weight:700;
letter-spacing:-1px;
margin-bottom:6px;
padding:0 0 3px;
}

ul#column_list {
float:left;
margin:0;
padding:0 30px 10px;
}

#column_list li {
list-style-type:square;
margin:0;
padding:6px 0 0 2px;
}

#column_mid {
border-left:1px solid #E5E5E5;
border-right:1px solid #E5E5E5;
float:left;
width:398px;
padding:0 25px;
}

ul.block_mais {
float:left;
width:225px;
margin:-10px 0 0;
padding:8px 0;
}

.block_mais li {
border-bottom:1px solid #E5E5E5;
line-height:15px;
list-style-type:none;
margin:0;
padding:8px 0;
}

.fechando {
color:#12a3a5;
font-weight:700;
}

.balaio {
background-color:#f6f6bd !important;
}
.duplicado {
background-color:#ffe0c8 !important;
}

.pbalaio {
color:#efc005 !important;
}
.pduplicado {
color:#ff7200 !important;
}

.new_padtop {
float:left;
padding-top:7px;
}

.quote {
font-size:20px;
font-weight:700;
padding:5px;
}

li.final {
border-bottom:1px solid #fff;
}

#grid_bottom {
float:left;
width:100%;
margin:0 auto;
padding:25px 0 0;
}

.bottom_portfolio {
float:left;
height:300px;
width:465px;
}

.bottom_portfolio_title {
color:#272727;
float:left;
font-size:16px;
font-weight:700;
margin-bottom:15px;
width:450px;
padding:6px 0 0;
}

.portfolio_img {
float:left;
margin-top:42px;
padding-left:15px;
width:200px;
}

.portfolio_text {
float:left;
padding-left:15px;
width:220px;
}

#grid_footer {
float:left;
width:100%;
margin:25px auto;
padding:0;
}

.grid_footer_center {
border-top:1px solid #E5E5E5;
padding-top:18px;
width:950px;
margin:10px auto 0;
text-align:center;
}

ul.rodlinks {
float:left;
width:700px;
margin:0;
padding:0;
}

.rodlinks li {
list-style-type:none;
margin:0 0 0 3px;
padding:0;
}

.rodlinks li a {
color:#333;
text-decoration:none;
margin:0 3px 0 0;
}

.rodlinks li a:hover {
color:#999;
text-decoration:none;
margin:0 3px 0 0;
}

.footer_logo {
float:right;
text-align:right;
width:200px;
}

.footer_logo p {
font-size:11px;
line-height:12px;
text-align:right;
}

.footer_logo a {
text-align:center;
}

#title {
background:url(../images/inner_bg.png) repeat-x left top;
height:108px;
position:relative;
margin:0;
}

.title_text {
height:70px;
padding:8px 0 0;
}

.main_content {
background:url(../images/divider.jpg) no-repeat right top;
float:left;
width:645px;
padding:0 40px 0 10px;
}

.imgleft {
float:left;
margin-right:10px;
}

.imgright {
float:right;
margin-left:10px;
}

.sidebar {
float:right;
width:225px;
padding:0 0 0 23px;
}

.scfield {
background:url(../images/search_bg.jpg) repeat-x left top;
border:1px solid #ccc;
color:#454545;
font-size:12px;
height:18px;
width:215px;
margin:10px 0 5px;
padding:5px;
}

.shfield {
background:url(../images/search_bg.jpg) repeat-x left top;
border:1px solid #ccc;
color:#454545;
font-size:12px;
height:12px;
width:225px;
float:right;
margin-right:3px;
padding:6px;
}

ul.address {
float:left;
width:270px;
margin:0;
padding:0;
}

ul.mainul {
float:left;
width:198px;
margin:0;
padding:0;
}

.mainul h2 {
border-bottom:2px solid #DDD;
font-size:12px;
font-weight:700;
width:90%;
margin:0 0 6px;
padding:0;
}

.address li,.mainul li {
list-style-type:none;
margin:0;
padding:0;
}

.mainul li ul {
margin-left:25px;
padding:0;
}

.mainul li ul li {
list-style:square;
margin-left:0;
padding:0;
}

.main_content h1 {
border-bottom:1px solid #E5E5E5;
color:#333;
font-size:16px;
font-weight:700;
text-transform:none;
margin:10px 0 15px;
padding:0 0 3px;
}

.main_content h1 i {
color:#333;
font-size:11px;
font-weight:400;
}

.main_content h2 i {
color:#888;
font-size:11px;
font-weight:400;
}

.main_content h2 i a {
color:#888;
text-decoration:none;
}

.main_content h2 i a:hover {
color:#555;
text-decoration:underline;
}

.main_content h4 {
border:none;
color:#333;
font-size:14px;
font-weight:700;
margin:15px 0 6px;
padding:5px 0 0;
}

.main_content h5 {
border:none;
color:#333;
font-size:13px;
font-weight:700;
margin:15px 0 3px;
padding:5px 0 0;
}

.main_content h6 {
border:none;
color:#333;
font-size:12px;
font-weight:700;
margin:15px 0 3px;
padding:5px 0 0;
}

.main_content h1 a,.main_content h2 a,.main_content h3 a,.main_content h4 a,.main_content h5 a,.main_content h6 a {
color:#209498;
text-decoration:underline;
}

.main_content h1 a:hover,.main_content h2 a:hover,.main_content h3 a:hover,.main_content h4 a:hover,.main_content h5 a:hover,.main_content h6 a:hover {
color:#2ab2b7;
text-decoration:underline;
}

.hidden {
display:none;
}

#mainmenu {
float:right;
margin-top:40px;
width:620px;
height:49px;
}

#mainmenu ul {
float:right;
list-style-type:none;
margin:0;
padding:10px 0 0;
}

#mainmenu ul li {
display:inline;
float:left;
font-size:14px;
font-weight:700;
position:relative;
margin:0 1px;
}

#mainmenu ul li a {
display:block;
text-decoration:none;
padding:12px 8px 0;
}

#mainmenu ul li a.active:link,#mainmenu ul li a.active:visited {
color:#474747;
padding:10px 13px;
}

#mainmenu ul li.home a {
padding-left:0;
}

#mainmenu ul li a:link,#mainmenu ul li a:visited {
color:#474747;
}

#mainmenu ul li a:hover {
color:#13a1a3;
}

.ui-tabs-panel {
background:#fff;
border-top:1px solid #c0c1c3;
padding:1em 8px;
}

.ui-tabs-loading em {
background:url(../loading.gif) no-repeat 0 50%;
padding:0 0 0 20px;
}

.block,.block_home {
float:left;
margin-bottom:30px;
width:225px;
}

.block h2 {
border-bottom:1px solid #E5E5E5;
color:#333;
font-size:16px;
font-weight:700;
text-transform:none;
margin:10px 0 15px;
padding:0 0 3px;
}

* html #mainmenu ul li a,* html .ui-tabs-nav,*:first-child+html .ui-tabs-nav {
display:inline-block;
}

.ui-autocomplete {
position:absolute;
z-index:100;
}

.ui-menu {
background:#FFF;
border:1px solid #CCC;
width:216px;
list-style:none;
display:block;
float:left;
margin:0;
padding:2px;
}

.ui-menu .ui-menu {
margin-top:-5px;
}

.ui-menu .ui-menu-item {
clear:left;
margin:0;
padding:3px;
}

.ui-menu .ui-menu-item a {
text-decoration:none;
display:block;
line-height:1.5;
font-weight:700;
font-size:12px;
cursor:pointer;
border-bottom:1px solid #EEE;
}

.single li,.left li {
padding:15px 3px 0 0;
}

.middle,.right {
float:right;
width:100px;
text-align:center;
}

.middle li,.right li {
border-left:1px solid #DDD;
font-size:10px;
padding:7px 3px 8px 0;
}

.main_content h2,.main_content h3 {
border:none;
color:#333;
font-size:16px;
font-weight:700;
margin:15px 0 8px;
padding:5px 0 0;
}

.mural {
font-size:10px;
}

.block_mais .ficha {
background:url(../icons/creditcards.png) no-repeat left;
padding-left:22px;
}

.block_mais .note {
background:url(../icons/note.png) no-repeat left;
padding-left:22px;
}

.block_mais .email {
background:url(../icons/email.png) no-repeat left;
padding-left:22px;
}

.block_mais .info {
background:url(../icons/information.png) no-repeat left;
padding-left:22px;
}

.fleft {
width:300px;
display:inline-block;
vertical-align: top;
}

.fright {
width:300px;
display:inline-block;
vertical-align: top;
margin-left:20px;
}

.notes {
height:400px;
overflow:auto;
}

.notes p {
margin:15px 0 15px 0;
border-bottom:1px solid #ccc;
}

.notes em {
color:#888;
}

.filtro {
float:right;
}
.multiselect {
width:630px;
}
.interesses {
margin-bottom:25px;
}
#imenu {
list-style:none;
text-align:center;
margin-bottom:20px;
}
#imenu li {
display:inline-block;
padding:5px;
}
#cmenu {
list-style:none;
text-align:center;
margin-bottom:20px;
}
#cmenu li {
display:inline-block;
padding:5px;
}
#cmenu li img {
padding-bottom:8px;
}
.acoes {
padding:8px;
}
